*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,body{    /*here the html will contain 100% width and height and body have the same ability too*/
    width: 100%;
    height:100%;
}
#main{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-image: url(https://images.unsplash.com/photo-1766837774799-4d25916b1a8d?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)    
}   